@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container d-flex flex-column justify-content-center align-items-center bg-light text-danger text-center vw-50 p-5">
    @{
        if(Model == null)
        {
            <h4>An error occurred while processing your request. Please try again later.</h4>
        }
        else
        {
            <h4>@Model.ErrorMessage</h4>
        }
    }

    <a class="btn btn-primary mt-4" href="/">Back to Home</a>
</div>
