@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="text-center text-danger mx-auto">
    <h4>@Model.ErrorMessage</h4>

    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Try again</a>
</div>
