@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-light vh-75 d-flex justify-content-center align-items-center flex-column">
    <h2>Shorten your desired URL.</h2>

    <form action="/" method="post" class="vw-100">
        <div>
            <label>URL: </label>
            <input type="text" name="Url" placeholder="Input your URL here" class="m-3 p-2 w-25 rounded" />
        </div>
        <br />
        <div>
            <label>Alias: </label>
            <input type="text" name="Alias" placeholder="Input your custom alias here." class="m-3 p-2 w-25 rounded" />
        </div>
        <br />
        <input type="submit" value="Shorten" />
    </form>
</div>
