@model SuccessViewModel
@{
    ViewData["Title"] = "Success";
}


<div class="text-center bg-light container p-4 vh-50">
    <h3 class="mb-2">The shortened URL has been generated successfully.</h3>

    <p>@Model.ShortenedUrl</p>
</div>