@model SuccessViewModel
@{
    ViewData["Title"] = "Success";
}


<div class="text-center bg-light container p-5 vh-50 m-auto">
    <h3 class="mb-2">The shortened URL has been generated successfully.</h3>

    <p>@Model.ShortenedUrl</p>

    <a class="btn btn-primary mt-4" asp-controller="Home" asp-action="Index">Go home</a>
</div>